:root {
  --bg: #000000;
  --text: #eeeeee;
  --accent: #ffffff;
  font-family: 'Helvetica Neue', Helvetica;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg);
  color: var(--text);
  font-size: 18px;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section {
  max-width: 900px;
  margin: 0 auto;
  padding: 4rem 2rem;
}
