:root {
  --bg: #0f0f0f;
  --text: #ffffff;
  --accent: #8affc1;
  font-family: 'SF Pro Display', sans-serif;
}

body {
  margin: 0 auto;
  padding: 3rem rem;
  background-color: var(--bg);
  color: var(--text);
  font-size: 16px;
  line-height: 1.2;
}

section {
  max-width: 500spx;
  /* mais estreito */
  margin: 0 auto;
  padding: 3rem 1rem;
}