---
// Nenhum prop necessário neste momento
---

<footer style="
  max-width: 880px;
  margin: 4rem auto 2rem auto;
  padding: 0 1rem;
  text-align: left;
  color: #a3a0a0;
  font-size: 1.0rem;
  font-family: Helvetica, sans-serif;
  line-height: 1.5;
">
  <p style="margin: 0 0 0.5rem 0;">
    website hand coded with <strong style="color: #a3a0a0; text-decoration: underline;">Astro</strong> (v5.10.1)
  </p>
  <p style="margin: 0;">
    want to chat? reach through my socials or send me a <a href="mailto:alerodriguessf@gmail.com" style="color: #a3a0a0; text-decoration: underline;">email</a>
  </p>
</footer>
